@import url(https://fonts.googleapis.com/css?family=Paytone+One);

body {
  background-color: #e6e6f9;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-6deg) rotate(-12deg) skewY(6deg) skewX(-12deg);
}

p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Paytone One";
  font-weight: bold;
  color: #36d79a;
  text-shadow: 0px 0px 0 #ff7373;
}
